@model CommandCenter.Models.CrisesModel

@{
    Layout = null;
}

<h1>Details</h1>

<div>
    <h4>Crises</h4>
    <hr />
    <dl class="row">
        <dt class="col-sm-2">
            @Html.DisplayNameFor(model => model.NumeroDoIncidente)
        </dt>
        <dd class="col-sm-10">
            @Html.DisplayFor(model => model.NumeroDoIncidente)
        </dd>
        <dt class="col-sm-2">
            @Html.DisplayNameFor(model => model.Abrangencia)
        </dt>
        <dd class="col-sm-10">
            @Html.DisplayFor(model => model.Abrangencia)
        </dd>
         <<dt class="col-sm-2">
            2@Html.DisplayNameFor(model => model.ACN)
        </dt>
        <dd class="col-sm-10">
            2@Html.DisplayFor(model => model.ACN)
        </dd>
        <dt class="col-sm-2">
            2@Html.DisplayNameFor(model => model.ACNManual)
        </dt>
        <dd class="col-sm-10">
            2@Html.DisplayFor(model => model.ACNManual)
            </dd>-->
        <dt class="col-sm-2">
            @Html.DisplayNameFor(model => model.CausaDoIncidente)
        </dt>
        <dd class="col-sm-10">
            @Html.DisplayFor(model => model.CausaDoIncidente)
        </dd>
        <dt class="col-sm-2">
            @Html.DisplayNameFor(model => model.ImpactoNosNegocios)
        </dt>
        <dd class="col-sm-10">
            @Html.DisplayFor(model => model.ImpactoNosNegocios)
        </dd>
    </dl>
</div>
<div>
    <a asp-action="Edit" asp-route-id="@Model.Id">Edit</a>
    <a asp-action="Index">Back to List</a>
</div>
